/* Base styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1, h2 {
  color: #333;
  text-align: center; /* Ensures text alignment for header tags */
}

section {
    background-image: url('../../../assets/images/background-image.png');
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
/*     min-height: 100vh; */
    height: 100%;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;   /* Prevents the image from repeating */
    background-size: cover;  
    justify-content: center;
    align-items: center;
    position: absolute;
}

section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(5, 29, 64, 0.5); /* #051d40 with 50% opacity */
  min-height: 100vh;
  height: 100vh;
  width:100%;
}

.section-body {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center; 
  height: 100vh;
  justify-content: center; 
}

.header{
  /*   flex: 1; */
}

/* Registration Form Styles */
/* Form Container: Updated: 11/13/2024 */
.container {
  flex: 1;   
  max-width: 500px;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 25px;
  margin-right: 100px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  z-index: 100;
}

.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}

.form {
  position: relative;
}

.input-box {
  width: 100%;
  margin-top: 5px;
}

.input-box label {
  color: #333;
}

.input-box input {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.column {
 /*  display: flex; */
  column-gap: 15px;
}

.address input,
.select-box select {
  margin-top: 15px;
}

.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}

.form button:hover {
  background: rgb(88, 56, 250);
}

/* Responsive Styles */
@media screen and (max-width: 500px) {
  .form .column {
  /*   flex-wrap: wrap; */
  }

  .gender-box {
    row-gap: 15px;
  }
}

/* Additional Styling */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #fff;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}
