body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    height: 100vh;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;   /* Prevents the image from repeating */
    background-size: cover;  
    justify-content: center;
    align-items: center;
    background-image: url('../assets/images/background-image.png');/* You can change this background if needed */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(5, 29, 64, 0.5); /* #051d40 with 50% opacity */
    min-height: 100vh;
    height: 100vh;
    width:100%;
  }
  