<section>
    <!-- Nav -->
    <top-nav></top-nav>
    <!-- Body -->

    <div class="logo"><img src="../../../assets/svg/CourseHubLogoForDarkBackground.svg"></div>
    <div class="section-body">

        

        <div class="header">
            <h3 class="header-small">LOOKING TO UPSKILL?</h3>
            <h1 class="header-big">Start learning a new skill today.</h1>
        </div>

        <div class="container">
            <header>Registration Form</header>
            <form (ngSubmit)="onSubmit()" class="form" name="myForm">
            <div class="column">
                <div class="input-box">
                <label>First Name</label>
                <input [(ngModel)]="firstName"  name="firstName" type="text" placeholder="Enter First Name" required />
                
                <span ng-show="myForm.firstName.$touched && myForm.firstName.$invalid">The name is required.</span>
                </div>





                <div class="input-box">
                <label>Last Name</label>
                <input [(ngModel)]="lastName" name="lastName" type="text" placeholder="Enter Last Name" required />

                <!-- Error Messages -->
                <div *ngIf="lastNameRef.invalid && lastNameRef.touched" class="error-messages">
                <p *ngIf="lastNameRef.errors?.required">Last Name is required.</p>
                </div>
                </div>
            </div>
        
            <div class="input-box">
                <label>Password</label>
                <input [(ngModel)]="password" name="password" type="password" placeholder="Enter your password" required />
            </div>
        
            <div class="input-box">
                <label>Confirm Password</label>
                <input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm Password" required />
            </div>
        
            <div class="column">
                <div class="input-box">
                <label>Phone Number</label>
                <input [(ngModel)]="phoneNumber" name="phoneNumber" type="number" placeholder="Enter phone number" required />

                <!-- Error Messages -->
                <div *ngIf="phoneNumberRef.invalid && phoneNumberRef.touched" class="error-messages">
                <p *ngIf="phoneNumberRef.errors?.required">Phone Number is required.</p>
                </div>
                </div>

                <div class="input-box">
                <label>Birth Date</label>
                <input [(ngModel)]="birthDate" name="birthDate" type="date" required />

                <!-- Error Messages -->
                <div *ngIf="birthDateRef.invalid && birthDateRef.touched" class="error-messages">
                <p *ngIf="birthDateRef.errors?.required">Birth Date is required.</p>
                </div>
                </div>
            </div>
                <div class="input-box">
                    <label>Email</label>
                    <input [(ngModel)]="email"  name="email" type="email" placeholder="Enter your email" required />

                <!-- Error Messages -->
                <div *ngIf="emailRef.invalid && emailRef.touched" class="error-messages">
                <p *ngIf="emailRef.errors?.required">Email is required.</p>
                </div>
                </div>
            <button type="submit">Register</button>
            </form>
        </div>
    </div>

  </section>

  